/* this file contains the grid layout system */
.grid-1 {
    width: 8.333333333%;
}
.grid-2 {
    width: 16.66666667%;
}
.grid-3 {
    width: 25%;
}
.grid-4 {
    width: 33.33333333%;
}
.grid-5 {
    width: 41.66666667%;
}
.grid-6 {
    width: 50%;
}
.grid-7 {
    width: 58.33333333%;
}
.grid-8 {
    width: 66.66666667%;
}
.grid-9 {
    width: 75%;
}
.grid-10 {
    width: 83.33333333%;
}
.grid-11 {
    width: 91.66666667%;
}
.grid-12 {
    width: 100%;
}

.column {
    margin: 0px 0px;
    overflow: hidden;
    float: left;
    /* display: inline; */
}

/* bootstrap row inspiration */
.row {
    margin-right: 0px;
    margin-left: 0px;
    width: auto;
}

.row:before,
.row:after {
    display: table;
    content: " ";
}

.row:after {
    clear: both;
}

.row .form-field {

}

.input-fullsize {
    box-sizing: border-box; /* css3 rec */
    -moz-box-sizing: border-box; /* ff2 */
    -ms-box-sizing: border-box; /* ie8 */
    -webkit-box-sizing: border-box; /* safari3 */
    -khtml-box-sizing: border-box; /* konqueror */

}
/*
.row {
    width: auto;
    margin: 0 auto;
    overflow: hidden;
}

.row .row {
    margin: 0px 0px;
    width: auto;
    display: inline-block;
}
*/