/*
    This stylesheet defines the necessary styles for the reddit clone
*/

* {
	font: 12px/18px 'Helvetica',Arial,sans-serif;
}
input{
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #d5eeff;
}
#content { 
	top: 0;
	right: 50px; 
	bottom: 0;
	left: 50px;
	background: #ee3e64;
}

#header {
	position: fixed;
	top: 0px;
	right: 0px;
	left: 0px;
	height: 80px;
	background: #E3FF64;
}
#logo {
	top: 0px;
	left: 0px; 
	height: 80px;
    width: 200px;
	background: blue;
    margin: 0px;
}

#top-navigation {
    position: absolute;
    left: 200px;
    top: 0px;
    right: 0px;
    height: 80px;
    background: brown;

}

#topCategories {
    float: left;
	position: static;
    overflow: auto;
	top: 0px;
    left: 0px;
    height: 80px;
    width: 30%;
    min-width: 100px;
    background: yellow;
}

#favoriteCategories{
    float: right;
    position: static;
    overflow: auto;
    top: 0px;
    right: 0px;
    height: 80px;
    width: 70%;
    min-width: 100px;
    background: green;
}

#localNavigation {
    position: absolute;
    top: 80px;
    left: 0px;
    width: 200px;
	background: #E3FF64;
}
#search{
    position: absolute;
    left: 200px;
    top: 80px;
    width: 100%;
}

Button.topCategory{
	margin: 2px,2px;
	font-size: 20px;
}


Button.topCategory.allTags{
	/* icon here*/
}

Button.topCategory.newest{
	/* icon here*/
	
}

Button.favorite{
	margin: 2px,2px;
	font-size: 16px;
}

input.search{
    background: url(icons/magnifier.png) no-repeat;
    padding-left:20px;
}

/* content_body will hold the articles as well as some navigation stuff*/
.content_body {
    width: auto;
    width: 100%;
    display: block;
    background-color: #E9DC51;

}

.content_body aside {
    width: 25%;
    min-width: 200px;
    display: inline-block;
}

/* site_header will hold the, well, header of the site including logo and favorites bar */
.site_header {
    width: auto;
    width: 100%;
    display: block;
    border: solid 1px;
}

/* the following style define the grid layouts available. they contain absolutely NO styling*/
.container_12 .grid_1 {
    width:6.333%;
}

.container_12 .grid_2 {
    width:14.667%;
}

.container_12 .grid_3 {
    width:23.0%;
}

.container_12 .grid_4 {
    width:31.333%;
}

.container_12 .grid_5 {
    width:39.667%;
}

.container_12 .grid_6 {
    width:48.0%;
}

.container_12 .grid_7 {
    width:56.333%;
}

.container_12 .grid_8 {
    width:64.667%;
}

.container_12 .grid_9 {
    width:73.0%;
}

.container_12 .grid_10 {
    width:81.333%;
}

.container_12 .grid_11 {
    width:89.667%;
}

.container_12 .grid_12 {
    width:98.0%;
}