/*
    This stylesheet defines the necessary styles for the reddit clone
*/

@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,900);

html {
	font: 12pt 'Roboto', sans-serif;
}

span {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

/* favorite navigation */
div.button-navigation {
    width: 40px;
    background-color: #d5eeff;
    display: inline-block;
    position: absolute;
}
button.button-navigation {
    /*height: 100%;*/
    /*width: 100%;*/
    font-size: 22px;
    color: black;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

button.button-navigation:hover {
    font-weight: bold;
}

button.button-navigation:disabled {
    font-weight: bold;
    cursor: not-allowed;
    color: gainsboro;

}

i.button-navigation-disabled{
    height: 100%;
    width: 100%;
    font-size: 22px;
    color: gainsboro;
    text-align: center;
    vertical-align: middle;
}

/* ... */
input{
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #d5eeff;
}
#content { 
	top: 0;
	right: 50px; 
	bottom: 0;
	left: 50px;
	background: #ee3e64;
}

#header {
	position: fixed;
	top: 0px;
	right: 0px;
	left: 0px;
	height: 80px;
	background: #E3FF64;
    z-index: 15;
}

#main-content {
    position: relative;
    margin: 80px 0 0 200px ;
    height: 300px;
}

.form-error {
    border:1px solid darkred;
}

#logo {
	top: 0px;
	left: 0px; 
	height: 80px;
    width: 200px;
	background: blue;
    margin: 0px;
}

#top-navigation {
    position: absolute;
    left: 200px;
    top: 0px;
    right: 0px;
    height: 80px;
    background: brown;
}

#topCategories {
    /*float: left;*/
	position: absolute;
    /*overflow: auto;*/
	top: 0px;
    left: 0px;
    height: 80px;
    width: 30%;
    min-width: 100px;
    background: yellow;
}

#favoriteCategories{
    position: absolute;
    /*float: right;*/
    /*position: static;*/
    /*overflow: auto;*/
    top: 0px;
    right: 0px;
    height: 80px;
    width: 70%;
    min-width: 100px;
    background: green;
}

.icon-left{
    position: absolute;
    left: 0px;
    width: 40px;
    height: 80px;

}

.favorites-content {
    position: absolute;
    left: 40px;
    right: 40px;
    height: 80px;
    overflow-x: auto;
}
.favorite-content {
    visibility: inherit;
    position: relative;
    float: left;
    height: 60px;
    width: 60px;
    margin: 10px;
    border: 1px solid #d5eeff;
    border-radius: 3px;
}
.favorite-text{
    margin: 20px 5px 0px 5px;
}

.favorite-content:hover{
    border: 2px solid #d5eeff;
    cursor: pointer;
    margin: 9px;
}
.delete-icon{
    position: absolute;
    right: 2px;
    top: 2px;
}
.delete-icon:hover{
    right: 3px;
    top: 3px;
}
/*#favorite-content{*/
    /*position: relative;*/
    /*float: left;*/
    /*display: block;*/
    /*width:400px;*/
    /*height: 400px;*/
    /*white-space: nowrap;*/
/*}*/
.icon-right{
    position: absolute;
    right: 0px;
    width: 40px;
    height: 80px;
}

#localNavigation {
    position: absolute;
    top: 80px;
    left: 0px;
    width: 200px;
	background: #E3FF64;
}
#search{
    /* position: absolute;
    left: 200px;
    top: 80px; */
    width: 100%;
    min-height: 60px;
    text-align: center;
    padding: 20px 0;
}
#share {
    display: block;
}
.form-row {
    width: auto;
    padding-top: 5px;
    clear: both;
}
.form-field-label {
    padding-top: 5px;
    min-width: 160px;
}

.no-vertical-padding {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* article specific */
article {
    display: inline-block;
    height: auto;
    width: 100%;
    background-color: #f0f0f8;
}

#articles-row {
    align-content: center;
}

.articles {
    width: 70%;
    min-width: 400px;
    max-width: 800px;
    margin: 0, auto, 0 , 0;
}

.icon-spacer {
    margin-left: 7px;
    margin-right: 20px;
}

.article-voting {
    width: 40px;
    position: relative;
    display: inline;
    overflow: hidden;
    padding: 0px;
    text-align: center;
}

.vote {
    display: inline-block;
}

.position-top {
    position: absolute;
    top: 0;
    width: 100%;
    display: block;
    vertical-align: top;
    text-align: center;
}

.position-bottom {
    position: absolute;
    bottom: 0;
    vertical-align: bottom;
    display: block;
    width: 100%;
    text-align: center;
}

.position-center {
    position: relative;
    vertical-align: middle;
    display: block;
    top: 40px;
    float: left;
    width: 100%;
    text-align: center;
}

.comments {
    padding: 0px;
}

.comments-ul {
    display: block;
}

.article-meta, .comment-meta {
    font-size: 0.75em;
}

.comments-ul li .comment-meta {
    display: block;
    overflow: hidden;
    height: auto;
    max-height: 0px;
    transition: all 0.2s ease;
}

.comments-ul li:hover .comment-meta {
    display: block;
    max-height: 200px;
    transition: all 0.2s ease;
}

.comments-ul li {
    margin-bottom: 10px;
}

.icon-passive {
    color: #AAAAAA;
}

.icon-activatable:hover {
    color: #666666;
}

.article-image, .article-voting {
    height: 100px;
}

.article-image {
    width: 100px;
    display: inline-block;
    background-color: #AAAAAA;
}

.article-voting, .article-image {
    display: inline-block;
    float: left;
}

.article-content {
    display: block;
    padding: 0 30px;
    margin-left: 140px;
    width: auto;
    min-height: 100px;
    position: relative;
}

.article-content h3.article-heading {
    margin-top: 0px;
    margin-bottom: 3px;
    font-size: 1em;
    font-weight: 900;
}

.article-content p {
    margin-top: 0px;
    margin-bottom: 3px;
}

.article-meta {
    position: absolute;
    bottom: 0;
    display: block;
    width: auto;
}

.comments {
    width: auto;
    padding-left: 170px;
}

i.fa span {
    font-size: inherit;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
}


/* generic placements and styles inspired by bootstrap.css */
.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.invisible {
    visibility: hidden;
}

.results {
    width: 100%;
}

Button.topCategory{
	margin: 2px,2px;
	font-size: 20px;
}


Button.topCategory.allTags{
	/* icon here*/
}

Button.topCategory.newest{
	/* icon here*/
	
}

Button.favorite{
	margin: 2px,2px;
	font-size: 16px;
}

input.search {
    background-image:url("icons/magnifier.png");
    background-repeat:no-repeat;
    background-position:left center;
    padding-left:20px;
    /* margin-left: -50px; */

}

/* content_body will hold the articles as well as some navigation stuff*/
.content_body {
    width: auto;
    width: 100%;
    display: block;
    background-color: #E9DC51;

}

.content_body aside {
    width: 25%;
    min-width: 200px;
    display: inline-block;
}

/* site_header will hold the, well, header of the site including logo and favorites bar */
.site_header {
    width: auto;
    width: 100%;
    display: block;
    border: solid 1px;
}