/*
    This stylesheet defines the necessary styles for the reddit clone
*/

* {
	font: 12px/18px 'Helvetica',Arial,sans-serif;
}

/* favorite navigation */
div.button-navigation {
    width: 40px;
    background-color: #d5eeff;
    display: inline-block;
    position: absolute;
}
i.button-navigation {
    height: 100%;
    width: 100%;
    font-size: 22px;
    color: black;
    text-align: center;
    vertical-align: middle;
}

i.button-navigation:hover {
    font-weight: bold;
    cursor: pointer;
}

/* ... */
input{
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #d5eeff;
}
#content { 
	top: 0;
	right: 50px; 
	bottom: 0;
	left: 50px;
	background: #ee3e64;
}

#header {
	position: fixed;
	top: 0px;
	right: 0px;
	left: 0px;
	height: 80px;
	background: #E3FF64;
}

#main-content {
    position: absolute;
    top: 80px;
    left: 200px;
    /* width of main content is 100% minus width of logo spacer */
    width: calc(100% - 200px);
    /* margin-left: 10%;
    margin-right: 10%; */
}

#logo {
	top: 0px;
	left: 0px; 
	height: 80px;
    width: 200px;
	background: blue;
    margin: 0px;
}

#top-navigation {
    position: absolute;
    left: 200px;
    top: 0px;
    right: 0px;
    height: 80px;
    background: brown;
}

#topCategories {
    /*float: left;*/
	position: absolute;
    /*overflow: auto;*/
	top: 0px;
    left: 0px;
    height: 80px;
    width: 30%;
    min-width: 100px;
    background: yellow;
}

#favoriteCategories{
    position: absolute;
    /*float: right;*/
    /*position: static;*/
    /*overflow: auto;*/
    top: 0px;
    right: 0px;
    height: 80px;
    width: 70%;
    min-width: 100px;
    background: green;
}

.icon-left{
    position: absolute;
    left: 0px;
    width: 40px;
    height: 80px;

}

.favorites-content {
    position: absolute;
    left: 40px;
    right: 40px;
    height: 80px;
}
.favorite-content {
    position: relative;
    float: left;
    height: 60px;
    width: 60px;
    margin: 10px;
    border: 1px solid #d5eeff;
    border-radius: 3px;
}

.favorite-content:hover{
    border: 2px solid #d5eeff;
    cursor: pointer;
    margin: 9px;
}
.delete-icon{
    position: absolute;
    right: 2px;
    top: 2px;
}
.delete-icon:hover{
    right: 3px;
    top: 3px;
}
/*#favorite-content{*/
    /*position: relative;*/
    /*float: left;*/
    /*display: block;*/
    /*width:400px;*/
    /*height: 400px;*/
    /*white-space: nowrap;*/
/*}*/
.icon-right{
    position: absolute;
    right: 0px;
    width: 40px;
    height: 80px;
}

#localNavigation {
    position: absolute;
    top: 80px;
    left: 0px;
    width: 200px;
	background: #E3FF64;
}
#search{
    /* position: absolute;
    left: 200px;
    top: 80px; */
    width: 100%;
    min-height: 60px;
    /* text-align: center; */

}

.form-field-label {
    padding-top: 5px;
    min-width: 160px;
}

/*#share-link {*/
    /*align-content: left;*/
/*}*/

#share-link-root{
    /*visibility: hidden;*/
    /*opacity: 0;*/
}
.anim-visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
}
.anim-hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}

#share-link-form {
    width: 70%;
    min-width: 400px;
    max-width: 800px;
    margin: 0, auto, 0 , 0;
}


/* article specific */

article {
    display: inline-block;
    height: auto;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    border-top: 1px solid darkgrey;
    border-bottom: 1px solid darkgrey;
}

#articles-row {
    align-content: center;
}

.articles {
    width: 70%;
    min-width: 400px;
    max-width: 800px;
    margin: 0, auto, 0 , 0;
}

.article-voting, .article-image, .article-content {
    padding: 5px;
}

.article-voting {
    width: 40px;
    position: relative;
    display: inline-block;
    overflow: hidden;

    background-color: #AAAAFF;
}

.article-image {
    width: 100px;
    height: 100px;
    display: inline-block;

    background-color: #AAAAAA;
}

.article-content {
    width: auto;
    position: relative;
}

.article-content h3 {
    margin-top: 0px;

    font-size: 1.3em;
    font-weight: bold;
}

.article-meta {
    width: auto;
}

i.fa span {
    font-size: inherit;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
}


/* generic placements and styles inspired by bootstrap.css */
.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.invisible {
    visibility: hidden;
}

.results {
    width: 100%;
}

Button.topCategory{
	margin: 2px,2px;
	font-size: 20px;
}


Button.topCategory.allTags{
	/* icon here*/
}

Button.topCategory.newest{
	/* icon here*/
	
}

Button.favorite{
	margin: 2px,2px;
	font-size: 16px;
}

input.search {
    background-image:url("icons/magnifier.png");
    background-repeat:no-repeat;
    background-position:left center;
    padding-left:20px;
    /* margin-left: -50px; */

}

/* content_body will hold the articles as well as some navigation stuff*/
.content_body {
    width: auto;
    width: 100%;
    display: block;
    background-color: #E9DC51;

}

.content_body aside {
    width: 25%;
    min-width: 200px;
    display: inline-block;
}

/* site_header will hold the, well, header of the site including logo and favorites bar */
.site_header {
    width: auto;
    width: 100%;
    display: block;
    border: solid 1px;
}

/* the following style define the grid layouts available. they contain absolutely NO styling*/
.container_12 .grid_1 {
    width:6.333%;
}

.container_12 .grid_2 {
    width:14.667%;
}

.container_12 .grid_3 {
    width:23.0%;
}

.container_12 .grid_4 {
    width:31.333%;
}

.container_12 .grid_5 {
    width:39.667%;
}

.container_12 .grid_6 {
    width:48.0%;
}

.container_12 .grid_7 {
    width:56.333%;
}

.container_12 .grid_8 {
    width:64.667%;
}

.container_12 .grid_9 {
    width:73.0%;
}

.container_12 .grid_10 {
    width:81.333%;
}

.container_12 .grid_11 {
    width:89.667%;
}

.container_12 .grid_12 {
    width:98.0%;
}